version: "3.9"

services:
  backend:
    build:
      context: ./BE
      dockerfile: Dockerfile
    container_name: turi-backend
    ports:
      - "5000:5000"
    env_file:
      - ./BE/.env
    volumes:
      - ./BE:/app
      - /app/node_modules
    depends_on:
      - db
    restart: unless-stopped

  frontend:
    build:
      context: ./FE
      dockerfile: Dockerfile
    container_name: turi-frontend
    ports:
      - "3000:3000"
    env_file:
      - ./FE/.env.production
    volumes:
      - ./FE:/app
      - /app/node_modules
    depends_on:
      - backend
    restart: unless-stopped

volumes:
  postgres_data:
